<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Елушев Максим">
  <meta name="description" content="Данный сайт помогает управлять проектами и задачами">
  <link rel="icon" href="../../static/kanban.svg">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
  <title>Изменение задачи</title>
</head>
<body>
<div class="container mt-5 mx-auto text-center">
  <h1>Изменение задачи</h1>
  <form method="POST">
    <input type="hidden" th:field="*{task.id}">
    <div class="col-md-6 mb-3 mx-auto text-center">
      <label for="name" class="form-label">Название:</label>
      <input type="text" th:field="*{task.name}" id="name"
             placeholder="Введите название"
             aria-label="Поле ввода названия задачи"
             class="form-control"
             required>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 mb-3">
        <label for="author" class="form-label">Автор:</label>
        <input type="text" th:field="*{task.author}" id="author"
               placeholder="Введите автора"
               aria-label="Поле ввода автора задачи"
               class="form-control"
               required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="performer" class="form-label">Исполнитель:</label>
        <input type="text" th:field="*{task.performer}" id="performer"
               placeholder="Введите исполнителя"
               aria-label="Поле ввода исполнителя задачи"
               class="form-control">
      </div>
    </div>
    <div class="col-md-6 mb-3 mx-auto text-center">
      <label for="status" class="form-label">Статус:</label>
      <select id="status" name="status" th:field="*{task.status}" class="form-select">
        <option value="BACKLOG">BACKLOG</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <a class="btn btn-secondary" th:href="@{/{id}(id=${project.id})}">Назад</a>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>
