<!DOCTYPE html>
<html lang="eu">
<head>
  <meta charset="UTF-8">
  <title>Задачи</title>
</head>
<body>
<h1>Задачи проекта: <span th:text="${project.title}"></span></h1>
<a th:href="@{/projects/{id}/create(id=${project.id})}">Создать задачу</a>
<table border="1">
  <thead>
  <tr>
    <th>Название</th>
    <th>Автор</th>
    <th>Исполнитель</th>
    <th>Статус</th>
    <th>Релизы</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${tasks}">
    <td th:text="${task.name}"></td>
    <td th:text="${task.author}"></td>
    <td th:text="${task.performer}"></td>
    <td th:text="${task.status}"></td>
    <td>
      <ul>
        <li th:each="release : ${task.releases}"
            th:text="${release.version} + ' ' + ${release.startDate} + ' - ' +
            (${release.endDate} == null ? 'Неизвестно' : ${release.endDate})"></li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
<a href="/projects">Назад к проектам</a>
</body>
</html>