<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Create Project</title>
</head>
<body>
<h1>Create Project</h1>
<form action="/projects/new" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="startDate">Start Date:</label><br>
  <input type="datetime-local" id="startDate" name="startDate"><br>
  <label for="endDate">End Date:</label><br>
  <input type="datetime-local" id="endDate" name="endDate"><br>
  <br>
  <input type="submit" value="Create">
</form>
</body>
</html>
