<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Project</title>
</head>
<body>
<h1>Project: <span th:text="${project.name}"></span></h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${project.name}"></td>
    <td th:text="${project.startDate}"></td>
    <td th:text="${project.endDate}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/projects}">Back to Projects</a>
</body>
</html>
